# ROS 2 / colcon
build/
install/
log/
.colcon*

# Python cache
__pycache__/
.pytest_cache/
*.pyc

# Packaging artifacts (genelde yeterli)
dist/
*.egg-info/

# Environments
.venv/
venv/
.env

# IDE / OS
.vscode/
.DS_Store
